@import "reset";

html {
  --color-fg-primary: #212121;
  --color-fg: #333;
  --color-fg-secondary: #666;
  --color-fg-tertiary: #999;

  --color-bg: #f4f5f7;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

* {
  -webkit-text-size-adjust: none;
}

body {
  max-width: 920px;
  margin: auto;
}

[role="link"] {
  cursor: pointer;
}

@import "bp-icon-font";
@import "bilibili";
